/* -------------------------------------------------------------------- */
/* ------------------- DARK THEME TOGGLE ANIMATION -------------------- */
/* -------------------------------------------------------------------- */

@-moz-keyframes scaleInner {
    50% {
      transform: scale(1.8);
    }
  }
  @-webkit-keyframes scaleInner {
    50% {
      transform: scale(1.8);
    }
  }
  @-o-keyframes scaleInner {
    50% {
      transform: scale(1.8);
    }
  }
  @keyframes scaleInner {
    50% {
      transform: scale(1.8);
    }
  }

/* -------------------------------------------------------------------- */
/* ------------------------ LOADING ANIMATION ------------------------- */
/* -------------------------------------------------------------------- */

  @keyframes expand {
    0% {
        transform: scale(0);
   }
    100% {
        transform: scale(0.75);
   }
}
