/* -------------------------------------------------------------------- */
/* ------------------------------ DESKTOP ----------------------------- */
/* -------------------------------------------------------------------- */

.mobile {
    display: none;
}

.tablet {
    display: none;
}

/* -------------------------------------------------------------------- */
/* --------------------------- LARGE TABLET --------------------------- */
/* -------------------------------------------------------------------- */

@media (max-width: 800px) {
    .desktop {
        display: none;
    }

    .links.desktop {
        display: block;
    }

    .tablet {
        display: block;
    }
}

/* -------------------------------------------------------------------- */
/* --------------------------- SMALL TABLET --------------------------- */
/* -------------------------------------------------------------------- */

@media (max-width: 600px) {
    .tablet {
        display: none;
    }

    .mobile {
        display: block;
    }

    .links.desktop {
        display: none;
    }

    .links.mobile {
        display: flex;
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: var(--background-color-light);
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-left: auto;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* -------------------------------------------------------------------- */
/* ------------------------------ MOBILE ------------------------------ */
/* -------------------------------------------------------------------- */

@media (max-width: 480px) {
    nav {
        padding: 20px 25px 20px 25px;
    }

    .pivot {
        width: 80%;
        display: flex;
        top: 100px;
    }

    .control-btns {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .justified-grid-gallery {
        position: absolute;
        top: 240px; /* Position .grid just below .pivot */
        /* left: 0; Align .grid to the left of .pivot */
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-wrap: wrap;
        grid-gap: var(--space);
        list-style: none;
        padding-bottom: 100px;
        /* margin: 0!important; We use !important to avoid gaps in some environments. */
        /* padding: 0 !important; We use !important to avoid gaps in some environments. */
    }

    .filter-div {
        pointer-events: none;
    }
}
