@font-face {
    font-family: 'handwritten'; /* Replace with your font's name */
    src: url('font/samble.ttf') format('woff'); /* Use the path to your font file */
    font-weight: normal;
    font-style: normal;
}

/*----------------------- RESET -----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    justify-content: center;
    user-select: none;
    background-color: var(--background-color);
  }
  
  .background-img {
    background: conic-gradient(
      from 0deg at 50% -10%,
      #ffe900ff 1%,
      #fffef5ff 32%,
      #ffffffff 39%,
      #f5f2e1ff 55%,
      #fffef5ff 68%,
      #ffe900ff 100%
    );
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.25;
    mix-blend-mode: var(--blend-mode);
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  .mode {
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    cursor: pointer;
    text-align: center;
  }
  .mode:before {
    content: "";
    position: absolute;
    top: 6px;
    left: 6px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-image: linear-gradient(to right, #fff 50%, #000 50.01%);
    border: 2px solid #fff;
    transition: transform 0.5s ease-out;
  }
  .mode:after {
    content: "";
    position: absolute;
    top: 11px;
    left: 11px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fff;
    mix-blend-mode: difference;
  }
  .mode div {
    position: absolute;
    bottom: -44px;
    width: 76px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    line-height: 18px;
    pointer-events: none;
  }
  .mode div:after {
    content: "Off";
    font-weight: 400;
  }
  .dark .mode {
    background: #fff;
  }
  .dark .mode:before {
    border: 2px solid #000;
    transform: rotate(180deg);
  }
  .dark .mode div:after {
    content: "On";
  }
  .scaling:after {
    animation: scaleInner 0.5s ease forwards;
  }
  
  .hamburger {
    display: none;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
  }
  
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  :root {
    --blend-mode: normal;
    --background-color: #ffffff;
    --background-color-light: #ffffff80;
    --text-color: #000000;
    --text-color-lighter: ##444444;
    --btn-color: #f2f2f2;
    --thanks-background: #000000CC;
    --thanks-color: #ffffffEE;
    --shadow-color: 55deg 20% 85%;
    --shadow-elevation-low: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.26),
      0px 0.8px 0.9px -1.2px hsl(var(--shadow-color) / 0.26),
      0px 1.7px 1.9px -2.5px hsl(var(--shadow-color) / 0.26);
    --shadow-elevation-medium: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.27),
      0px 1.5px 1.7px -0.8px hsl(var(--shadow-color) / 0.27),
      0px 3.6px 4.1px -1.7px hsl(var(--shadow-color) / 0.27),
      0px 8.7px 9.8px -2.5px hsl(var(--shadow-color) / 0.27);
    --shadow-elevation-high: 0px 0.5px 0.6px hsl(var(--shadow-color) / 0.25),
      0px 2.3px 2.6px -0.4px hsl(var(--shadow-color) / 0.25),
      0px 4.2px 4.7px -0.7px hsl(var(--shadow-color) / 0.25),
      0px 6.7px 7.5px -1.1px hsl(var(--shadow-color) / 0.25),
      0px 10.7px 12px -1.4px hsl(var(--shadow-color) / 0.25),
      0px 16.6px 18.7px -1.8px hsl(var(--shadow-color) / 0.25),
      -0.1px 25.2px 28.4px -2.1px hsl(var(--shadow-color) / 0.25),
      -0.1px 37.1px 41.7px -2.5px hsl(var(--shadow-color) / 0.25);
  }
  
  .dark {
    --blend-mode: overlay;
    --background-color: #030301;
    --background-color-light: #00000080;
    --text-color: white;
    --text-color-lighter: #ebebeb;
    --btn-color: #1a1a1a;
    --thanks-background: #ffffffCC;
    --thanks-color: #000000ff;
    --shadow-color: 55deg 30% 0%;
  }
  
  .btn.dark:not(.active) {
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid transparent;
  }
  
  .btn.dark:not(.active):hover {
    border-bottom: 1px solid white;
  }
  .material-symbols-outlined.dark {
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  
  /* NAVIGATION */
  
  nav {
    position: fixed;
    top: 0;
    width: 100vw;
    /* height: 64px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 20px 50px 20px 50px;
    background-color: var(--background-color-light);
    box-shadow: var(--shadow-elevation-medium);
    z-index: 9;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  
  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  }
  
  .span.size-logo {
    font-size: 100px;
    font-variation-settings: "OPSZ" 100;
  }
  
  .name span.size-logo {
    font-size: 40px;
  }
  
  .name {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 30%;
  }
  .name span {
    font-weight: bold;
    font-size: 16px;
    color: var(--text-color);
  }
  
  .links {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    width: 30%;
    /* margin-left: 40px; */
  }
  
  .links a {
    text-decoration: none;
    color: var(--text-color-lighter);
    font-size: 15px;
    letter-spacing: -0.01;
    font-weight: medium;
    padding: 15px;
    border-bottom: 1px solid transparent;
  }
  
  .links a:hover {
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
  }
  
  /* HOME SECTION */
  
  .pivot {
    width: 80%;
    display: flex;
    align-items: start;
    justify-content: center;
    height: 100px;
    position: relative;
    top: 120px;
  }
  
  .control-btns {
    display: flex;
    gap: 30px;
  }
  
  .btn {
    background-color: var(--background-color-light);
    color: var(--text-color);
    border: none;
    border-radius: 8px;
    box-shadow: var(--shadow-elevation-medium);
    padding: 15px;
    font-weight: 600;
    font-size: 14px;
    transition: 500ms;
  }
  
  .grid {
    position: absolute;
    top: 300px; /* Position .grid just below .pivot */
    left: 0; /* Align .grid to the left of .pivot */
    width: 100%; /* Optional: make .grid take up full width of .pivot */
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
  }
  
  /* Settings start */
  .justified-grid-gallery {
    --space: 20px;
    --min-height: 190px;
    --last-row-background: var(--thanks-background);
  }
  /* Settings end */
  
  .justified-grid-gallery {
    position: absolute;
    top: 210px; /* Position .grid just below .pivot */
    /* left: 0; Align .grid to the left of .pivot */
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    list-style: none;
    padding-bottom: 100px;
    /* margin: 0!important; We use !important to avoid gaps in some environments. */
    /* padding: 0 !important; We use !important to avoid gaps in some environments. */
  }
  
  .justified-grid-gallery > * {
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
    aspect-ratio: var(--width) / var(--height);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    margin: 0 !important; /* We use !important to avoid gaps in some environments. */
    padding: 0 !important; /* We use !important to avoid gaps in some environments. */
  }
  
  .justified-grid-gallery > * > img {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: saturate(75%);
  }
  
  .justified-grid-gallery > *:hover > img {
    transform: scale(1.1);
    filter: saturate(100%);
  }
  
  .justified-grid-gallery::after {
    content: "Merci de votre visite!";
    display: flex;
    align-items: center;
    font-size: 20px;
    color: var(--thanks-color);
    justify-content: center;
    font-family: 'handwritten';
    flex-grow: 500000;
    border-radius: 8px;
    background: var(--last-row-background);
  }
  
  .filterDiv {
    position: absolute;
    display: none;
  }
  
  .filterDiv.show {
    animation: fadeIn 1s ease-in-out;
    position: relative;
    display: block;
  }
  
  .btn:hover {
    cursor: pointer;
    box-shadow: var(--shadow-elevation-high);
  }
  
  .btn.active {
    background-color: var(--text-color);
    color: var(--background-color);
  }
  
  #loading {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #loading div {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--text-color);
  }
  
  #loading > div:after {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background: var(--background-color);
    border-radius: 50%;
    animation: expand 0.75s infinite alternate;
    z-index: 9999;
  }
  